html {
  min-height: 100%; 
}
#dropdownChoice {
  color: black;
}
select {
  margin-bottom: 8px;
}
button {
  color:white;
  background-color: black;
  border-color: red;
}
.nav-option {
  display:block;
}
#map {
  height: 400px;
  width: 100%;
}
#spacer {
  margin-bottom: 10px;
}
.nav-wrapper {
  /*background-color: #FC0606;*/
  background-color: black;
  border-bottom:solid red 2px;
}
.listing {
  margin-top:3%;
  min-height: 100px;
  color:white;
  background-color: black;
  padding:2%;
/*  border-bottom: solid black;
  border-bottom-width: 2px;
*/}
.listingName {
  font-size: 20px;
  font: bold;
  cursor: pointer;
  text-decoration: underline;
  color: red;
}
.listingName:hover{
  color: white;
}
.listingImg {
  float: right;
  height: 100px;
  /*border:solid red 2px;*/
}
.brand-logo {
  height: 100%;
}
.loadingPage {
  min-height: 50vh;
}
#logoNav {
  height: 100%;
}
#filler {
  height: 60%;
  width: 60%;
}
#search {
  background-color: white;
  color: black;
  padding-left: 5px;
  margin-top: 7px;
}
#input {
  background-color: white;
  border-radius: 4px;
  padding-left: 8px;
  border-color:black;
  /*color: #464a51;*/
}
#inputarea {
  margin-top: 10px;
}
#label {
  font-family: 'sansblack';
  font-size: 130%;
  color: #464a51;
}
#label2 {
  font-family: 'sansblack';
  font-size: 130%;
  color: #464a51;
}

.label {
  font-family: 'sansblack';
  margin: 0px;
}
.explore {
  background-color: white;
  padding-bottom: 6%;
  position: center;
  padding: 3%;
  margin-top:0px;
}
.explore2 {
  background-color: white;
}
.icon {
  position: absolute;
  right: 5;
  height: 50px;
  width: 50px;
}
.ng-scope {
}
@font-face {
    font-family: 'sansblack';
    src: url('NexaRustSans-Black-Free-webfont.eot');
    src: url('NexaRustSans-Black-Free-webfont.eot?#iefix') format('embedded-opentype'),
         url('NexaRustSans-Black-Free-webfont.woff2') format('woff2'),
         url('NexaRustSans-Black-Free-webfont.woff') format('woff'),
         url('NexaRustSans-Black-Free-webfont.ttf') format('truetype'),
         url('NexaRustSans-Black-Free-webfont.svg#nexa_rust_sansblack') format('svg');
    font-weight: normal;
    font-style: normal;
}
.stars {
  color: rgb(255,255,0);
  font-size: 18px;
}
